{% extends "base.html" %}

{% block title %} Пошук{% endblock title %}

{% block content %}
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Результати пошуку для запиту <b>{{search_input}}</b></h1>
        <p class="col-md-8 fs-4">Сторінок знайдено: {{num_pages}}</p>
        {% if category_name != "all" %}
            <p class="col-md-8 fs-4">Обрана категорія: <b>{{category_name}}</b></p>
        {% endif %}
    </div>
    {% include "adverts/snippets/advert_list.html" %}
{% endblock content %}
