  <div class="card w-100 py-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
            <img class="image image-rounded" src="{% if instance.photos %}{{instance.photos[0]}}{% else %}https://placehold.co/110x110{% endif %}" alt="Ad Photo" style="width: 100px; height: 100px;">
        </div>
        <div class="col-md-11">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">{{instance.title}}</h5>
                <h5>{{instance.price.displayValue}}</h5>
            </div>
            <p class="card-text">{{instance.description|truncate(100)}}</p>
            <a href="/adverts/{{instance.id}}" class="btn btn-primary">Переглянути</a>
        </div>
      </div>
    </div>
  </div>
