  <footer class='mt-auto'>
    <hr>
    <div class="mx-auto" align='center'>
      <p class='lead text-muted'>Alexander Salmanov, 2023. Ukraine, Kharkiv. <br>Developed only for training purposes.</p>
    </div>
    <div class="d-flex justify-content-evenly">
      <a href="https://github.com/AlexanderSalmanov" target='_blank'><i class='fa fa-github'></i> </a>
      <a href="https://twitter.com/salimann" target='_blank'><i class='fa fa-twitter'></i> </a>
      <a href="https://www.linkedin.com/in/alexander-salmanov-36b087236/" target="_blank"><i class='fa fa-linkedin-square'></i> </a>
    </div>

  </footer>
